header {

        .logo {
            font-family: 'Lobster', cursive;
        }

        .nav-links {
            list-style: none;

                    &:hover {
                        text-decoration: underline;
                    }
    }
}