header {
    .navbar {
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: $primary;
        color: $text-color;

        .logo {
            font-family: 'Lobster', cursive;
        }

        .nav-links {
            list-style: none;

                    &:hover {
                        text-decoration: underline;
                    }
        }
    }
}