.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid $primary;
    background-color: $bg-color;

    h2 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 15px;
        text-align: center;
        
    }

    form {
        display: flex;
        flex-direction: column;

        label { 
            font-weight: bold;
            margin-bottom: 5px;
        }

        input { 
            padding: 8px;
            margin-bottom: 15px;
            border: 1px solid $light;
            border-radius: 4px;
        }

        button {
            background-color: $success;
            border: none;
            padding: 10px;
            font-weight: bold;

            color: $text-color;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                background-color: darken($success, 10%);
            }
        }
    }
}