@import "./variables";
@import "./header";
@import "./login";
@import "./feed";
@import "./profile";
@import "./footer";
@import "../../node_modules/bootstrap/scss/bootstrap";

$small-screen: 768px;
$medium-screen: 769px;
$large-screen: 1024px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Lobster';
    text-align: center;
    padding-top: 2rem;
}

h1 p {
    padding-top: 2rem;
    text-align: center;
}